.About-Hero-One{
    /* border: 1px solid black; */
    width: 100vw;
    height: 20rem;
    background-color: black;
    display: flex;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -2000;
    overflow: hidden;
}

.Home{
    position: relative;
    z-index: 100;
}

.About-Hero-One img{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1000;
    opacity: 45%;
}

.About-Hero-One-Container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 7rem;
    padding-right: 7rem;
    padding-top: 11rem;
}

.Text-Holder{
    /* border: 1px solid black; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: center;
    text-align: center;
    justify-content: center;
    align-content: center;
}

.ABOUT-LINK{
    /* border: 1px solid white; */
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ABOUT-LINK h1{
    color: white;
}

.Text-Holder h1{
    font-weight: 600;
}

.Link-Holder{
    /* border: 1px solid black; */
    width: 100%;
    height: 2rem;
    /* justify-content: space-between; */
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
}

.H,
A{
    color: white;
    font-size: 20px;
    margin-right: 1rem;
}

.A{
    text-decoration: underline;
    color: white;
}

.A:hover{
    color: white;
}

.DASH{
    border: 1px solid white;
    height: 3rem;
    margin-right: 1rem;
}

.Link-Holder a{
    text-align: center;
}


.About-Hero-Two {
    width: 100vw;
    height: 30rem;
    display: flex;
    flex-direction: row;
    background-color: white;
}

.About-Hero-Two-Text {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 6rem;
}

.AboutB button{
    width: 10rem;
    height: 3rem;
    background-color: #020535;
    border: none;
    color: white;
    font-size: 13px;
}

.About-Hero-Two-Text h1 {
    color: #020535;
    font-weight: 600;
    font-size: 30px;
}

.About-Hero-Two-Text h3 {
    color: #020535;
    font-weight: 400;
    margin-top: 2rem;
}

.About-Hero-Two-Image {
    width: 50%;
    height: 100%;
    padding-top: 6rem;
    padding-right: 10rem;
    display: flex;
    background-position: center;
    background-size: cover;
    background-repeat: none;
}

.About-Hero-Two-Image h3{
    color: #020535;
    font-weight: 400;
}

.About-Hero-Two-Image img {
    width: 100%;
    height: 100%;
}



.About-Hero-Three{
    border: 1px solid black;
    width: 100%;
    height: 45rem;
    background-color: black;
    display: flex;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    z-index: -2000;
    overflow: hidden;
}

.About-Hero-Three img{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1000;
    opacity: 45%;
}

.About-Hero-Three-Content{
    /* border: 1px solid white; */
    width: 100%;
    height: 100%;
    padding: 4rem;
    display: flex;
    justify-content: right;
    align-content: right;
}

.Content-Box{
    /* border: 1px solid red; */
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 4rem;
}

.Main-Content{
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
}

.Main-Content h1{
    color: #020535;
    text-align: center;
}

.Main-Content h3{
    color: #020535;
    text-align: center;
    font-weight: 400;
    margin-top: 1rem;
    margin-bottom: 2rem;
}





@media (max-width: 480px) {
    .About-Hero-One {
        height: 17rem; /* Reduced height for smaller screens */
        width: 100% !important;
    }

    .About-Hero-One-Container {
        padding-left: 1rem; /* Reduced padding for smaller screens */
        padding-right: 1rem;
        padding-top: 11rem;
    }

    .Text-Holder {
        flex-direction: column; /* Adjusted for better alignment on smaller screens */
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        align-items: center;
    }

    .ABOUT-LINK {
        width: 100%; /* Full width on smaller screens */
    }

    .ABOUT-LINK h1{
        font-size: 30px;
    }

    .H, .A {
        font-size: 16px; /* Reduced font size for better readability */
    }

    .Link-Holder {
        flex-direction: column; /* Stacked links for smaller screens */
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .DASH {
        height: 2rem; /* Reduced height for the dash */
        margin: 0.5rem 0; /* Adjusted margin */
    }

    .About-Hero-Two {
        flex-direction: column; /* Stacked layout for smaller screens */
        height: auto;
        width: 100% !important;
    }

    .About-Hero-Two-Text,
    .About-Hero-Two-Image {
        width: 100%; /* Full width for both sections */
        padding: 1rem;
        align-items: center;
    }

    .BR{
        display: none;
    }

    .About-Hero-Two-Text {
        padding: 2rem; /* Adjusted padding */
        height: auto !important;
        /* border: 1px solid black; */
    }

    .AboutB{
        display: none;
    }

    .About-Hero-Two-Image {
        padding-right: 3rem;
        padding-left: 3rem;
        height: auto !important;
        padding-bottom: 3rem;
    }

    .About-Hero-Two-Image h3{
        font-size: 13px;
        text-align: center;
    }

    .About-Hero-Three {
        height: auto !important; /* Reduced height */
        width: 100% !important;
    }

    .About-Hero-Three-Content {
        flex-direction: center; /* Stacked layout */
        padding: 2rem; /* Adjusted padding */
    }

    .Content-Box {
        width: 100%; /* Full width */
        padding: 2rem 1rem; /* Adjusted padding */
    }

    .Main-Content h1{
        font-size: 30px;
    }
}






@media (min-width: 481px) and (max-width: 767px) {
    .About-Hero-One {
        height: 15rem;
        padding: 2rem;
    }

    .About-Hero-One-Container {
        padding-left: 3rem;
        padding-right: 3rem;
        padding-top: 5rem;
    }

    .Text-Holder {
        flex-direction: column;
    }

    .ABOUT-LINK {
        width: 75%;
    }

    .H, .A {
        font-size: 18px;
    }

    .Link-Holder {
        flex-direction: column;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .About-Hero-Two {
        flex-direction: column;
        height: auto;
    }

    .About-Hero-Two-Text, .About-Hero-Two-Image {
        width: 100%;
        padding: 2rem;
    }

    .About-Hero-Two-Image {
        padding-top: 2rem;
        padding-right: 2rem;
    }

    .About-Hero-Three {
        height: 30rem;
    }

    .About-Hero-Three-Content {
        padding: 2rem;
    }

    .Content-Box {
        width: 75%;
        padding: 2rem;
    }

    .Main-Content {
        padding: 1rem;
    }
}




/* Media query for screens with a minimum width of 768px and a maximum width of 1024px */
@media (min-width: 768px) and (max-width: 1024px) {
    .About-Hero-One {
        height: 25rem;
    }

    .About-Hero-One-Container {
        padding-left: 5rem;
        padding-right: 5rem;
        padding-top: 9rem;
    }

    .Link-Holder {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .About-Hero-Two {
        height: 35rem;
        flex-direction: column;
    }

    .About-Hero-Two-Text,
    .About-Hero-Two-Image {
        width: 100%;
        padding: 3rem;
    }

    .About-Hero-Two-Image {
        padding-top: 3rem;
        padding-right: 3rem;
    }

    .About-Hero-Three {
        height: 50rem;
    }

    .About-Hero-Three-Content {
        padding: 2rem;
    }

    .Content-Box {
        width: 70%;
        padding: 3rem;
    }

    .Main-Content h1 {
        font-size: 1.5rem;
    }

    .Main-Content h3 {
        font-size: 1.2rem;
    }
}




@media (min-width: 1025px) and (max-width: 1280px) {
    .About-Hero-One-Container {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .About-Hero-Two-Text {
        padding: 4rem;
    }

    .About-Hero-Two-Image {
        padding-top: 4rem;
        padding-right: 8rem;
    }

    .About-Hero-Three-Content {
        padding: 2rem;
    }

    .Content-Box {
        padding: 2rem;
    }

    .Main-Content {
        padding: 1rem;
    }
}




@media (min-width: 1281px) and (max-width: 1440px) {
    .About-Hero-One {
      height: 20rem;
    }
  
    .About-Hero-One-Container {
      padding-left: 5rem;
      padding-right: 5rem;
      padding-top: 11rem;
    }

    .Text-Holder {
        flex-direction: column; /* Adjusted for better alignment on smaller screens */
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        align-items: center;
    }
  
    .Link-Holder {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  
    .About-Hero-Two {
      height: 35rem;
    }
  
    .About-Hero-Two-Text {
      padding: 4rem;
    }
  
    .About-Hero-Two-Image {
      padding-top: 4rem;
      padding-right: 8rem;
    }
  
    .About-Hero-Three {
      height: 50rem;
    }
  
    .About-Hero-Three-Content {
      padding: 3rem;
    }
  
    .Content-Box {
      padding: 3rem;
    }
  
    .Main-Content {
      padding: 1rem;
    }
  }
  



  @media (min-width: 1441px) and (max-width: 1920px) {
    .About-Hero-One {
        height: 25rem;
    }
    .About-Hero-One-Container {
        padding-left: 10rem;
        padding-right: 10rem;
        padding-top: 15rem;
    }
    .Text-Holder {
        padding-top: 5rem;
    }
    .Link-Holder {
        padding-left: 4rem;
        padding-right: 4rem;
    }
    .About-Hero-Two {
        height: 35rem;
    }
    .About-Hero-Two-Text {
        padding: 8rem;
    }
    .About-Hero-Two-Image {
        padding-top: 8rem;
        padding-right: 15rem;
    }
    .About-Hero-Three {
        height: 50rem;
    }
    .About-Hero-Three-Content {
        padding: 6rem;
    }
    .Content-Box {
        padding: 6rem;
    }
    .Main-Content {
        padding: 2rem;
    }
}
